In [40]:
import pandas as pd
import seaborn as sns

In [23]:
df=pd.read_csv(r"Assignment - Junior Data Analyst.csv")

In [24]:
df.head()

,battery,camera,display,memory,name,price,processor,rating,reviews,warranty
0,5000 mAh Battery,12MP + 2MP | 8MP Front Camera,15.8 cm (6.22 inch) HD+ Display,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,"Redmi 8 (Ruby Red, 64 GB)",9999,Qualcomm Snapdragon 439 Processor,4.4,"55,078 Reviews",Brand Warranty of 1 Year Available for Mobile ...
1,5000 mAh Battery,12MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.56 cm (6.52 inch) HD+ Display,4 GB RAM | 64 GB ROM,"Realme 5i (Aqua Blue, 64 GB)",10999,Qualcomm Snapdragon 665 2 GHz Processor,4.5,"20,062 Reviews",Sunrise Design
2,5000 mAh Battery,12MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.56 cm (6.52 inch) HD+ Display,4 GB RAM | 128 GB ROM,"Realme 5i (Aqua Blue, 128 GB)",11999,Qualcomm Snapdragon 665 (2 GHz) Processor,4.5,"20,062 Reviews",Sunrise Design
3,5000 mAh Battery,12MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.56 cm (6.52 inch) HD+ Display,4 GB RAM | 128 GB ROM,"Realme 5i (Forest Green, 128 GB)",11999,Qualcomm Snapdragon 665 (2 GHz) Processor,4.5,"20,062 Reviews",Sunrise Design
4,4000 mAh Battery,13MP + 2MP | 5MP Front Camera,15.49 cm (6.1 inch) HD+ Display,3 GB RAM | 32 GB ROM | Expandable Upto 256 GB,"Realme C2 (Diamond Blue, 32 GB)",7499,MediaTek P22 Octa Core 2.0 GHz Processor,4.4,"10,091 Reviews",Dual Nano SIM slots and Memory Card Slot

In [25]:
df.insert(10,'Price Class','')
i=0
while i<len(df['price']):
    if(df['price'][i]<=10000):
        df['Price Class'][i]="Cheap"
    elif(df['price'][i]>10000 and df['price'][i]<=40000):
        df['Price Class'][i]="Standard"
    else: df['Price Class'][i]="Expensive"
    i=i+1

C:\Users\UTKARSH\AppData\Local\Temp\ipykernel_51320\4254771022.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price Class'][i]="Cheap"
C:\Users\UTKARSH\AppData\Local\Temp\ipykernel_51320\4254771022.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price Class'][i]="Standard"
C:\Users\UTKARSH\AppData\Local\Temp\ipykernel_51320\4254771022.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: df['Price Class'][i]="Expensive"

In [7]:
pd.crosstab(index=df['Price Class'],columns='count',dropna=True)

col_0        count
Price Class
Cheap          416
Expensive       42
Standard       526

In [26]:
df.insert(11,'Rating Class','')
i=0
while i<len(df['rating']):
    if(df['rating'][i]<=3.0):
        df['Rating Class'][i]="Not good"
    elif(df['rating'][i]>3.0 and df['rating'][i]<=3.8):
        df['Rating Class'][i]="Stable"
    else: df['Rating Class'][i]="Great"
    i=i+1

C:\Users\UTKARSH\AppData\Local\Temp\ipykernel_51320\1737153681.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: df['Rating Class'][i]="Great"
C:\Users\UTKARSH\AppData\Local\Temp\ipykernel_51320\1737153681.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating Class'][i]="Stable"
C:\Users\UTKARSH\AppData\Local\Temp\ipykernel_51320\1737153681.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rating Class'][i]="Not good"

In [27]:
pd.crosstab(index=df['Price Class'],columns=df['Rating Class'],margins=True,normalize=True,dropna=True)

Rating Class     Great  Not good    Stable       All
Price Class
Cheap         0.310976  0.004065  0.107724  0.422764
Expensive     0.042683  0.000000  0.000000  0.042683
Standard      0.531504  0.000000  0.003049  0.534553
All           0.885163  0.004065  0.110772  1.000000

In [28]:
numerical_data=df.select_dtypes(exclude=[object])

In [29]:
correlation_matrix=numerical_data.corr()

In [30]:
correlation_matrix

           price    rating
price   1.000000  0.469329
rating  0.469329  1.000000

In [ ]:
sns.lmplot(x='Price Class',y='Rating Class',data=df,fit_reg=False,legend=True,palette="Set 1")

In [32]:
df.dtypes

battery          object
camera           object
display          object
memory           object
name             object
price             int64
processor        object
rating          float64
reviews          object
warranty         object
Price Class      object
Rating Class     object
dtype: object

In [36]:
sns.scatterplot(df['price'],df['rating'],hue=df['Price Class'])

c:\ProgramData\Anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [38]:
sns.barplot(df['Price Class'],df['rating'])

c:\ProgramData\Anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [42]:
sns.boxplot(df["Price Class"],df["rating"])

c:\ProgramData\Anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [43]:
sns.heatmap(pd.crosstab(index=df['Price Class'],columns=df['Rating Class'],margins=True,normalize=True,dropna=True))

In [44]:
sns.clustermap(pd.crosstab(index=df['Price Class'],columns=df['Rating Class'],margins=True,normalize=True,dropna=True))